langchain
python-dotenv
ipykernel
langchain-community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain-huggingface
faiss-cpu
langchain-chroma
langchain-openai
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
pydantic
langchain-core
duckdb
pandas
openai
langchain_groq
arxiv
wikipedia